---
title: "CSS animation: Text slide up"
tags: ["CSS animation"]
---

<div class="slide-up-container">
  <h1 class="slide-up">Hello World!!!!!!</h1>
  <p class="slide-up" style="--animation-duration: 2000ms">How are you today?</p>
</div>
{% include 'lorem-paragraphs' %}

