@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.slide-up-container {
    overflow: clip;
}

.slide-up {
    animation-name: slide-up;
    animation-duration: var(--animation-duration, 1000ms);
    animation-fill-mode: forwards;
}