---
layout: base.liquid
title: My Rad Markdown Blog Post
---

<div class="container">
  <h1>Evan's Demos</h1>
  <p>
    These are some demos I use for personal reference. Many of them are adapted
    from elsewhere!
  </p>

  <ul>
    {%- for demo in collections.demos -%}
      <li>
        <a href="demo{{demo.url}}">{{ demo.data.title }}</a>
        <span class="tag-container">
          {%- for tag in demo.data.tags -%}
            {%- if tag != 'demos' -%}
              <span class="tag">{{ tag }}</span>
            {%- endif -%} 
          {%- endfor -%}
        </span>
      </li>
    {% endfor %}
  </ul>
</div>
