:root {
  --size-xs: 0.2rem;
  --size-s: 0.4rem;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    font-family: system-ui;
    font-size: 18px;
    scrollbar-gutter: stable;
  }

  body {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    padding-inline: 1rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }

    html {
      interpolate-size: allow-keywords;
    }
  }
}

@layer utilities {
  .container {
    padding-inline: 1rem;
    margin-inline: auto;
    max-width: 1000px;
  }

  .tag {
    background-color: lightgray;
    border-radius: var(--size-xs);
    font-size: 0.8rem;
    line-height: 1;
    padding: var(--size-xs) var(--size-s);
  }

  .tag-container {
    display: inline-flex;
    gap: var(--size-xs);
    margin-left: var(--size-xs);
  }

  .back {
    background-color: lightgray;
    padding: var(--size-s);
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
