  /* @view-transition {
    navigation: auto;
  } */

   :view-transition-group(*) {
    animation-duration: 3s;
  } 
/* 
 :view-transition-group(.image) {
  animation-duration: 5s;
}

::view-transition-old(.image) {
  animation-name: scale-out;
}

::view-transition-new(.image) {
  animation-name: scale-in;
}



@keyframes scale-in {
  from {
    scale: 2;
  }
  to {
    scale: 1;
  }
}

@keyframes scale-out {
  from {
    scale: 1;
  }

  to {
    scale: 2;
  }
}  */
