---
title: "Scroll-driven sticky header hero"
tags: ["CSS", "Scroll-driven animations"]
---
<header id="sticky-parallax-header">
  <h1>{{ title }}</h1>
</header>

<div class="container">
  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}
</div>
