---
title: "[WIP] Scroll-driven flip"
tags: ["CSS", "Scroll-driven animations"]
---


  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}

  <section id="sectionPin">
    <div>
      hello world
    </div>
    <ol>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ol>

  </section>

  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}

