dialog {
  --animation-duration: 0.5s;
  --animation-timing: ease-out;
  background-color: grey;
  border: 0;
  margin: 0;
  max-width: unset;
  margin-top: var(--header-height);
  opacity: 0;
  transform: translateX(var(--translate));
  transition: all var(--animation-duration, 0.5s) var(--animation-timing)
    allow-discrete;
}

dialog:popover-open {
  opacity: 1;
  transform: translateX(0);

  @starting-style {
    opacity: 0;
    transform: translateX(var(--translate));
  }
}

dialog::backdrop {
  opacity: 0;
  transition: opacity var(--animation-duration, 0.5s) var(--animation-timing)
    allow-discrete;
}

dialog:popover-open::backdrop {
  opacity: 0.5;
  background-color: black;
  margin-top: var(--header-height);

  @starting-style {
    opacity: 0;
  }
}

dialog[data-variant="left"],
dialog[data-variant="right"] {
  height: 100%;
  width: min(100dvw, 600px);
}

dialog[data-variant="left"] {
  --translate: -100%;
}

dialog[data-variant="right"] {
  --translate: 100%;
  inset-inline-start: unset;
  inset-inline-end: 0;
}

:root {
  --header-height: 90px;
}
header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  height: var(--header-height);
  position: sticky;
  top: 0;
}

header > nav {
  align-items: center;
  display: flex;
  background-color: bisque;
  height: 100%;
}

nav > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

megamenu-toggle > a {
  padding: 30px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Undo sr-only when focus is gained */
.sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
