dialog {
  height: calc(100dvh - var(--header-height));
  background-color: grey;
  border: 0;
  margin: 0;
  max-width: unset;
  margin-top: var(--header-height);
  transform: translateX(var(--translate));
  overscroll-behavior: contain;
}

dialog::backdrop {
  display: block;
  opacity: 0;
  /* transition-delay: .25s; */
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-behavior: allow-discrete;
  transition-property: opacity, display, overlay;
  margin-top: var(--header-height);
  background-color: black;
}

dialog:popover-open::backdrop {
  opacity: 0.5;
  display: block;
}

@starting-style {
  [popover]:popover-open::backdrop {
    opacity: 0;
  }
}

dialog[data-variant="left"] {
  --translate: -100%;
  width: min(100dvw, 600px);
}

:root {
  --header-height: 90px;
}

header {
  align-items: center;
  background-color: bisque;
  display: flex;
  height: var(--header-height);
  position: sticky;
  top: 0;
}

/* Kludge to make it look like the drawer is under the header; animated in and out with the drawer*/
.header__fill {
  display: none;
  position: absolute;
  background-color: grey;
  top: 0;
  bottom: 0;
  width: min(100dvw, 600px);
  pointer-events: none;
  z-index: -1;
  transform: translateX(var(--translate));
}

header > nav {
  align-items: center;
  display: flex;
  height: 100%;
}

nav > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

popover-toggle > a {
  padding: 30px;
}

popover-toggle {
  @media screen and (width <= 769px) {
    display: none;
  }
}

[popovertarget="mobile-menu"] {
  @media screen and (width > 769px) {
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Undo sr-only when focus is gained */
.sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
