---
title: Navigation menu with Popover API and header fill hack
tags: ["HTML", "Popover API"]
---
<header>
  <button popovertarget="mobile-menu">Mobile menu</button>
  {% comment %} Mobile menu {% endcomment %}
   <navigation-popover-control>
  <dialog popover id="mobile-menu" data-variant="left">
    <button popovertarget="mobile-menu" popovertargetaction="hide">Close</button>
    <nav>
      <ul>
        <li>
          <button popovertarget="menu-1">Menu 1</button>
        </li>
        <li>
          <button popovertarget="menu-1">Menu 2</button>
        </li>
      </ul>
    </nav>
  </dialog>
  </navigation-popover-control>
  {% comment %} Desktop nav {% endcomment %}
  <nav>
    <ul>
      <li>
        <navigation-popover-toggle>
          <a href="#">Menu 1</a>
          {% comment %} For keyboard users - will appear on focus {% endcomment %}
          <button class="sr-only" aria-label="Toggle menu 1" popovertarget="menu-1">▼</button>
        </navigation-popover-toggle>
        <navigation-popover-control  data-id="1">
          <dialog popover id="menu-1" data-variant="left">
            <button popovertarget="menu-1" popovertargetaction="hide">Close</button>
            <h2 id="menu-1-title">Menu 1</h2>
            <ul aria-labelledby="menu-1-title">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Lsdl;fk jasd;lkf jasdl;kf jasdl;kf jasdlkjink 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
              <li><a href="#">Linsdlf kjasdf sad;flk jasdlfkjdsflkj asdfk 5</a></li>
              <li><a href="#">Link 6</a></li>
              <li><a href="#">Link 7</a></li>
              <li><a href="#">Link 8</a></li>
              <li><a href="#">Linksd;lf kjasdlfkjasd;lkfj as;ldkfj asldkfj 9</a></li>
              <li><a href="#">Link 10</a></li>
              <li><a href="#">Link 11</a></li>
              <li><a href="#">Link 12</a></li>
              <li><a href="#">Link 13</a></li>
              <li><a href="#">Link 14</a></li>
              <li><a href="#">Link 15</a></li>
              <li><a href="#">Link 16</a></li>
              <li><a href="#">Link 17</a></li>
              <li><a href="#">Link 18</a></li>
              <li><a href="#">Link 19</a></li>
              <li><a href="#">Link sl;dkfj as;ldfjal;sdkjf slad;kjf sdlakjf 20</a></li>
              <li><a href="#">Link 21</a></li>
              <li><a href="#">Link 22</a></li>
              <li><a href="#">Link 23</a></li>
              <li><a href="#">Link 24</a></li>
              <li><a href="#">Link 25</a></li>
              <li><a href="#">Link 26</a></li>
              <li><a href="#">Link 27</a></li> 
              <li><a href="#">Link 28</a></li>        
              <li><a href="#">Link 29</a></li>        
              <li><a href="#">Link 30</a></li>        
              <li><a href="#">Link 31</a></li>        
              <li><a href="#">Link 32</a></li>        
              <li><a href="#">Link 33</a></li>        
              <li><a href="#">Link 34</a></li>        
              <li><a href="#">Link 35</a></li>        
              <li><a href="#">Link 36</a></li>        
              <li><a href="#">Link 37</a></li>        
              <li><a href="#">Link 38</a></li>        
              <li><a href="#">Link 39</a></li>        
              <li><a href="#">Link 40</a></li>        
              <li><a href="#">Link 41</a></li>        
              <li><a href="#">Link 42</a></li>        
              <li><a href="#">Link 43</a></li>        
              <li><a href="#">Link 44</a></li>        
              <li><a href="#">Link 45</a></li>        
              
              <li><a href="#">Link last</a></li>
            </ul>
          </dialog>
        </navigation-popover-control>
      </li>
      <li>
        <navigation-popover-toggle>
          <a href="#">Menu 2</a>
          <button class="sr-only" aria-label="Toggle menu 2" popovertarget="menu-2">▼</button>
        </navigation-popover-toggle>
        <navigation-popover-control  data-id="2">
          <dialog popover id="menu-2" data-variant="left">
            <button popovertarget="menu-2" popovertargetaction="hide">Close</button>
            <h2 id="menu-2-title">Menu 2</h2>
            <ul aria-labelledby="menu-2-title">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2 asdlkfj skadjf lsaf </a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4sd lfjasdlkfjasdlkf jasdlkfjsadf asdf sadf ;lkj </a></li>
              <li><a href="#">Link 5</a></li>
            </ul>
          </dialog>
        </navigation-popover-control>
      </li>
    </ul>
  </nav>
</header>

<main>
  {% render 'lorem-paragraphs' %}
  {% render 'lorem-paragraphs' %}
  {% render 'lorem-paragraphs' %}
  {% render 'lorem-paragraphs' %}
  {% render 'lorem-paragraphs' %}
</main>
