<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Evan's Demos</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="{{ page.url }}index.css" />
  </head>
  <body>
    {% if page.url != "/"%}
      <a class="back" href="/">Back</a>
    {% endif %}
    <main id="main">{{ content }}</main>
  </body>
</html>
