dialog {
  --animation-duration: 1.5s;
  --animation-timing: ease-out;
  border: 0;
  margin: 0;
  max-width: unset;

  transition-behavior: allow-discrete;
  transition: 
    opacity var(--animation-duration) var(--animation-timing), 
    background-color var(--animation-duration) var(--animation-timing), 
    transform var(--animation-duration) var(--animation-timing), 
    display var(--animation-duration) var(--animation-timing);

  /* Add transition-behavior */
  transition-behavior: allow-discrete;

  /* Style when open */
  background-color: white;
  /* opacity: 1; */
  transform: translate(0);
}


/* The style when closed */
@starting-style {
  dialog {
    /* opacity: 0.5; */
    background-color: gray;
    transform: translate(var(--translate));
  }
}

/* The style when closed */
dialog:not([open]) {
  /* opacity: 0.5; */
  background-color: gray;
  transform: translate(var(--translate));
}


dialog[data-variant='left'], dialog[data-variant='right'] {
  height: 100%;
  width: min(80dvw, 600px);
}

dialog[data-variant='left']{
  --translate: -100%;
  width: 80dvw;
  max-width: 600px;
}

dialog[data-variant='right']{
  --translate: 100%;
   inset-inline-start: unset;
   inset-inline-end: 0;
}

dialog[data-variant='bottom']{
  --translate: 0, 100%;
  bottom: 0;
  inset-inline: 0;
  top: unset;
  width: 100%;
  height: min(50dvh, 600px);
}


