---
title: "Intersection observer activator"
tags: ["Web components"]
---
{% include 'lorem-paragraphs' %}
{% include 'lorem-paragraphs' %}
{% include 'lorem-paragraphs' %}
<intersection-observer-activator class="red" classes-to-add="purple" classes-to-remove="red">
    <h1>hello world!!!</h1>
</intersection-observer-activator>
{% include 'lorem-paragraphs' %}
{% include 'lorem-paragraphs' %}
{% include 'lorem-paragraphs' %}
{% include 'lorem-paragraphs' %}
{% include 'lorem-paragraphs' %}
