---
title: "Details element with animation"
tags: ["CSS animation"]
---

<section>
<details name="demo">
  <summary>Details 1</summary>
  Hello world
</details>

<details name="demo">
  <summary>Details 2</summary>
  {% include 'lorem-paragraphs' %}
</details>

<details name="demo">
  <summary>Details 3</summary>
  {% include 'lorem-paragraphs' %}
</details>
</section>

