---
title: Navigation menu with Popover API
tags: ["HTML", "Popover API"]
---
<header>
  <button popovertarget="mobile-menu">Mobile menu</button>
  {% comment %} Mobile menu {% endcomment %}
  <dialog popover id="mobile-menu" data-variant="left">
    <button popovertarget="mobile-menu" popovertargetaction="hide">Close</button>
    <nav>
      <ul>
        <li>
          <button popovertarget="menu-1">Menu 1</button>
        </li>
        <li>
          <button popovertarget="menu-2">Menu 2</button>
        </li>
      </ul>
    </nav>
  </dialog>
  {% comment %} Desktop nav {% endcomment %}
  <nav>
    <ul>
      <li>
        <megamenu-toggle>
          <a href="#">Menu 1</a>
          {% comment %} For keyboard users - will appear on focus {% endcomment %}
          <button class="sr-only" aria-label="Toggle menu 1" popovertarget="menu-1">▼</button>
        </megamenu-toggle>
        <popover-control>
          <dialog popover id="menu-1" data-variant="left">
            <button popovertarget="menu-1" popovertargetaction="hide">Close</button>
            <h2 id="menu-1-title">Menu 1</h2>
            <ul aria-labelledby="menu-1-title">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
              <li><a href="#">Link 5</a></li>
              <li><a href="#">Link 6</a></li>
              <li><a href="#">Link 7</a></li>
              <li><a href="#">Link 8</a></li>
              <li><a href="#">Link 9</a></li>
              <li><a href="#">Link 10</a></li>
              <li><a href="#">Link 11</a></li>
              <li><a href="#">Link 12</a></li>
              <li><a href="#">Link 13</a></li>
              <li><a href="#">Link 14</a></li>
              <li><a href="#">Link 15</a></li>
              <li><a href="#">Link 16</a></li>
              <li><a href="#">Link 17</a></li>
              <li><a href="#">Link 18</a></li>
              <li><a href="#">Link 19</a></li>
              <li><a href="#">Link 20</a></li>
              <li><a href="#">Link 21</a></li>
              <li><a href="#">Link 22</a></li>
              <li><a href="#">Link 23</a></li>
              <li><a href="#">Link 24</a></li>
              <li><a href="#">Link 25</a></li>
              <li><a href="#">Link 26</a></li>
              <li><a href="#">Link 27</a></li>        
              <li><a href="#">Link last</a></li>
            </ul>
          </dialog>
        </popover-control>
      </li>
      <li>
        <megamenu-toggle>
          <a href="#">Menu 2</a>
          <button class="sr-only" aria-label="Toggle menu 2" popovertarget="menu-2">▼</button>
        </megamenu-toggle>
        <popover-control>
          <dialog popover id="menu-2" data-variant="left">
            <button popovertarget="menu-2" popovertargetaction="hide">Close</button>
            <h2 id="menu-2-title">Menu 2</h2>
            <ul aria-labelledby="menu-2-title">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
              <li><a href="#">Link 5</a></li>
            </ul>
          </dialog>
        </popover-control>
      </li>
    </ul>
  </nav>
</header>

<main>
  {% render 'lorem-paragraphs' %}
  {% render 'lorem-paragraphs' %}
  {% render 'lorem-paragraphs' %}
  {% render 'lorem-paragraphs' %}
  {% render 'lorem-paragraphs' %}
</main>
