---
title: "Dynamic floating button"
tags: ["Web components"]
---
<div class="hero">
  <h1>Dynamic floating button</h1>
  <p>Doesn't appear until main body of page is within middle of page</p>
  <p>Disappears over hero and footer</p>
</div>
<dynamic-button-handler>
  <section class="main-content">
    {% include 'lorem-paragraphs' %}
    {% include 'lorem-paragraphs' %}
    {% include 'lorem-paragraphs' %}

    <button class="floating-button hidden">Hello world</button>
    {% include 'lorem-paragraphs' %}
    {% include 'lorem-paragraphs' %}
    {% include 'lorem-paragraphs' %}
    {% include 'lorem-paragraphs' %}
    {% include 'lorem-paragraphs' %}
  </section>
</dynamic-button-handler>
<footer>Footer</footer>
