/* STICKY HEADER */

@keyframes translate {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.wrapper {
  display: grid;
  border: 1px black dotted;
  grid-template-columns: 1fr 1fr;
  overflow: clip;
}

.parallax-image {
  object-fit: cover;;
  width: 100%;
  height:auto;
  animation: linear translate both;
  animation-timeline: view(); 
  animation-range-end: 50%;
}

h2 {
  align-self: center;
}
