---
title: "Scroll-driven parallax"
tags: ["CSS", "Scroll-driven animations"]
---
<div class="container">
  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}
  <div class="wrapper">
    <h2>Hello world.</h2>
    {% comment %} <div class="parallax-wrapper"> {% endcomment %}
      <img class="parallax-image revealing-imag" width="900" height="900" src="https://picsum.photos/900/900" alt="">
    {% comment %} </div> {% endcomment %}
  </div>
  {% include 'lorem-paragraphs' %}
  {% include 'lorem-paragraphs' %}
</div>
