---
title: "View transition examples"
tags: ["CSS animation"]
---
<h1>View transition examples</h1>

{% assign examples = "fade,slide,scale" %}
{% assign examples_array = examples | split: "," %}

<ul>
  {% for example in examples_array %}
    <li><a href="{{ example }}">{{ example }} example</li>
  {% endfor %}
</ul>

