---
title: "Native dialog menu"
tags: ["HTML"]
---


<header>
  <modal-open-trigger data-for="mobile-menu">
    <button>Mobile menu</button>
  </modal-open-trigger>

  <ul>
    <li>
      <modal-open-trigger data-for="menu-1"><button>Menu 1</button></modal-open-trigger>
    </li>
    <li>
      <modal-open-trigger data-for="menu-2"><button>Menu 2</button></modal-open-trigger>
    </li>
  </ul>
</header>




<dialog closedby="any" id="menu-1" data-variant="left">
  <modal-close-trigger><button>Close</button></modal-close-trigger>
  Menu 1
</dialog>


<dialog closedby="any" id="menu-2" data-variant="left">
  <modal-close-trigger><button>Close</button></modal-close-trigger>
  Menu 2
</dialog>


<dialog closedby="any" id="mobile-menu" data-variant="left">
  <modal-close-trigger><button>Close</button></modal-close-trigger>
  <h1>Mobile menu</h1>
    <ul>
    <li>
      <modal-open-trigger data-for="menu-1"><button>Menu 1</button></modal-open-trigger>
    </li>
    <li>
      <modal-open-trigger data-for="menu-2"><button>Menu 2</button></modal-open-trigger>
    </li>
  </ul>
</dialog>




